<img src="https://hl-resources.secure.footprint.net/assets/new-icon/homluv-logo-v1.svg">
<div *ngFor="let homeLuvHouse of homeLuvHouses"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="10"
     (scrolled)="onScroll()">


  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{homeLuvHouse['imageInfo'].title}}</h5>
      <img [src]="homeLuvHouse['imageInfo'].path" *ngIf="homeLuvHouse['imageInfo'].path" width="400" height="200">
      <p class="card-text">{{homeLuvHouse['imageInfo'].caption}}</p>
    </div>
  </div>



<!--  <mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title-group>-->
<!--        <img mat-card-lg-image [src]="myData['imageInfo'].path" *ngIf="myData['imageInfo'].path" >-->
<!--      </mat-card-title-group>-->
<!--    </mat-card-header>-->
<!--  </mat-card>-->
</div>

<!--<ngx-skeleton-loader count="50" appearance="circle"></ngx-skeleton-loader>-->
